<%- include('../includes/header.ejs', {titulo: 'Lista de Usu치rios'}) %>

<main>
    <h2>Cadastrar Novo Usu치rio</h2>
    <!-- <a href="/usuarios/novo" class="btn btn-primary">Cadastrar Usu치rio</a> -->
    <form action="/usuarios/novo" method="post" class="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nome">Nome do Usuario:</label>
            <input class="form-control" type="text" name="nome" id="name" required>
        </div>
        <div class="form-group">
            <label for="usuario">Usu치rio</label>
            <input class="form-control" type="text" name="usuario" id="username">
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input class="form-control" type="password" name="senha" id="password" required>
        </div>
        <div class="form-group">
            <label for="imagem">Imagem:</label>
            <input class="form-control" type="file" name="file" id="file" required>
        </div>
        <button type="submit" class="btn btn-edit">Adicionar</button>
        <a href="/usuarios" class="btn btn-delete">Cancelar</a>

    </form>
</main>

<%- include('../includes/footer.ejs') %>